/* Main Body */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #0f0f0f;
    overflow-x: hidden;
}

/* KEY FRAMES */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-down {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Top Bar */
.header{
    animation: fade-down 0.5s 0.4s backwards;
}

.topBar {
    display: flex;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding: 1px;
    margin: 0%;
}

.leftGroup {
    display: flex;
    align-items: center;
    gap: 25px;
}

.rightGroup {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo {
    width: 62px;
    height: 62px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
    flex-shrink: 0;
    cursor: pointer;
    transition-delay: 2s;
    transition-property: transform;
    transition-timing-function: ease-in-out;
}

.logo:hover {
    animation: spin 2s linear infinite;
}

.syncUp {
    color: #FFFFFF;
    width: 153px;
    height: 47px;
    font-family: sans-serif;
    font-size: 40px;
    padding: 0;
    margin: auto;
    margin-top: 6px;
    margin-left: -20px;
}

.newRoom {
    display: inline-block;
    position: relative;
    left: 2%;
    background-color: #00ffbb;
    border: none;
    border-radius: 10px;
    color: #0f0f0f;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform 0.3s ease
}

.newRoom:hover {
    transform: scale(1.2);
}

.account {
    width: 55px;
    height: 55px;
    margin-right: 10px;
    flex-shrink: 0;
    margin-top: 3px;
    cursor: pointer;
    transition: transform 0.3s ease
}

.account:hover {
    transform: scale(1.2);
}

.horiztonalSpacer {
    margin: 0px;
    width: 100%;
    height: 2px;
    background-color: #EBD3F8;
    border: none;
}

/* Search Section */
.searchSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 35vw;
    max-width: 800px;
    padding: 0 20px;
    box-sizing: border-box;
    animation: fade-up 0.5s 0.4s backwards;
}

.searchContainer {
    display: flex;
    flex-grow: 1;
    align-items: center;
    background-color: #EBD3F8;
    height: 58px;
    border-radius: 0 15px 15px 0;
}

.dropDown {
    background-color: #212121;
    width: 73px;
    height: 58px;
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    flex-shrink: 0; /* Prevent shrinking */
}

.dropArrow {
    width: 55%;
    height: 40%;
    margin: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.dropArrow:hover {
    transform: scale(1.2);
}

.searchIcon {
    width: 36px;
    height: 36px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.searchIcon:hover {
    transform: scale(1.2);
}

.searchBar {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding-left: 10px;
    font-size: 16px;
    color: #333;
}

/* * Video Section */
.videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 1280px;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.videoBox {
    position: relative;
    background-color: #212121;
    color: white;
    width: 100%;
    aspect-ratio: 16 / 9;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    animation: fade-up 0.5s 0.4s backwards;
}

.videoTitle {
    width: 100%;
    animation: fade-up 0.5s 1s backwards;
    margin-top: 10px;
}

.videoTitleText {
    color: white;
    margin: 0;
    padding-left: 0%;

    font-family: sans-serif;
    font-size: 23px;
    font-style: italic;

}


.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border: none;
}

/* Footer */
footer {
    background-color: #212121;
    margin: 0;
    padding: 0;
    height: 65px;
    position: fixed;
    bottom: 0;
    width: 100%;
}