/* KEY FRAMES */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-down {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-left {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes unhide {
  to {
    overflow: visible;
    overflow-x: hidden;
  }
}

#body {
  overflow: hidden;
  animation: unhide 0s 1s forwards;
}

#leftSide {
  overflow: hidden;
  animation: fade-up 1s 0.1s ease-in-out;
}

#rightSide {
  overflow-x: hidden;
  animation: fade-up 1s 0.1s ease-in-out;
}

#otherHalf > * {
  animation: fade-up 1s 0.1s ease-in-out;
}

#downArrow {
  animation: fade-down 1s 0.1s ease-in-out;
}

#arrow {
  transition: transform 0.3s ease;
}

#arrow:hover {
  transform: scale(1.1);
}

#arrowUp {
  opacity: 40%;
  transition: transform 0.3s ease;
}

#arrowUp:hover {
  transform: scaleY(-1) scale(1.1)
}

#topBar {
  animation: fade-down 1s 0.4s backwards;
}

#horizontalSpacer {
  animation: fade-up 0.5s 0.4s backwards;
}

#logo {
  transition-delay: 2s;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}

#logo:hover {
  animation: spin 2s linear infinite;
}

#account {
  transition: transform 0.3s ease;
}

#account:hover {
  transform: scale(1.1);
}

#theme {
  transition: transform 0.3s ease;
}

#theme:hover {
  transform: scale(1.1);
}

#lockRoom {
  transition: transform 0.3s ease;
}

#lockRoom:hover {
  transform: scale(1.1);
}

#chat {
  opacity: 1;
  transition: none;
}

.chat-fade {
  animation: fade-up 0.5s 0.4s backwards;
}

/* Search Section */
#searchSection {
  animation: fade-up 0.2s 0.4s backwards;
}

#searchContainer {
  transition: width 0.3s ease-in-out;
}

#searchIcon {
  transition: transform 0.3s ease;
}

#searchIcon:hover {
  transform: scale(1.1);
}

/* * Video Section */
#videoContainer {
  animation: fade-up 0.5s 0.4s backwards;
}

#mQueueContainer {
  animation: fade-up 0.5s 0.4s backwards;
}

#skip {
  transition: transform 0.3s ease;
}

#skip:hover {
  transform: scale(1.2);
}

#waiting {
  transition: opacity 0.5s ease-in-out;
}

#videoTitle {
  animation: fade-up 0.5s 1s backwards;
}